
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; 

/* generic class css start */
.full-width {
    width: 100%;
}
.f_left_full_width {
    width: 100%;
}
.flex-center {
    display: flex;
    justify-content: center;
}
/* generic class css end */

body {
    margin: 0px;
}
nav {
    color: #000;
    background-color: transparent;
    line-height: normal;
}
/* input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), 
input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default), textarea.materialize-textarea {
    margin-bottom: 0px;
} */
nav .input-field input:focus, nav .input-field input[type=text]:valid, nav .input-field input[type=password]:valid, nav .input-field input[type=email]:valid, nav .input-field input[type=url]:valid, nav .input-field input[type=date]:valid {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #ff9b00;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #505050;
}
.md2-datepicker-button {
    text-align: left;
    padding: 0px;
}
div.md2-datepicker-trigger {
   padding: 18px 0 4px 0px; 
}
div.md2-datepicker-input {
    min-width: 0px;
    border-bottom: 1px solid #9e9e9e;
}
.md2-datepicker-input input {
    border-bottom: none !important;
    position: relative;
    left: 30px;
    top: 9px;
}
.md2-datepicker-input input:focus {
    box-shadow: none !important;
}
button.md2-datepicker-button {
    text-align: left;
    padding-left: 0px;
    z-index: 1;
}
md2-datepicker {
    min-width: 0px !important;
}
#toast-container {
    top: 92%;
    display: flex;
    width: 100%;
    justify-content: center;
}
.toast {
    display: inline-block;
    width: auto;
}