.home_login_container {
    display: flex;
    align-content: center;
    align-items: center;
    height: 130px;
}
.home-logo {
    flex: 50vw;
}
.home-login-box {
    flex: 50vw;
    text-align: right;
    display: inline-flex;
    align-content: center;
    align-items: center;
}
.home-nav {
    padding: 0 1em 0 1em;
}
.home-bg {
    height: 693px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../../assets/images/home-bg.jpg');
}
.row.home_login_row {   
    margin-bottom: 0px;    
}
.home-form-container {
    background-color: #fff;
    max-width: 500px;
    float: right;
    width: 100%;
    margin-top: 20px;
}
.home-register-box {
    padding-left: .75rem;
    padding-right: .75rem;
}
.home-register-submit-btn {
    margin-bottom: 15px;
    width: 100%;
}
.row.home_register_row {
    margin-bottom: 0px;
    padding-top: 11px;
}
.home-register-datepicker div.md2-datepicker-trigger {
    padding: 32px 0 0px 0px;
}
.home-register-datepicker button.md2-datepicker-button {
    top: 25px;
}
.r-country-clear {
    clear: both;
}